body {
    background-image: url("https://imgs.search.brave.com/N62CSP3bEnHeB0Lzcywryq05K0oliUoItylpwcuzj2c/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9pMC53/cC5jb20vcG9zdC5o/ZWFsdGhsaW5lLmNv/bS93cC1jb250ZW50/L3VwbG9hZHMvMjAy/Mi8wNS9mZW1hbGVz/LWRvaW5nLXB1c2h1/cHMtMTI5Ni03Mjgt/aGVhZGVyLmpwZz93/PTExNTUmaD0xNTI4");
    background-size: cover;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    background-repeat:no-repeat;
    text-align: center;
    color: whitesmoke;
    text-shadow: 0px 0px 3px black;
    height: 100vh;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkgreen;
}

#save-btn {
    background: darkslategrey;
}

#container{
    margin: 0px auto;
    max-width: 350px;
}