body {
    margin: 0;
    background: #1F2937;
    color: white;
}

h1{
    margin: 0px;
    font-family: Karla;
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: -0.025em;
    text-align: left;
}

h2{
    margin: 10px 0px 0px 0px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 300;
    line-height: 28px;
    text-align: left;
}

hr{
    color: #2F3E53;
    margin: 0px;
}

span{
    color: #10B981;
}

.not-active-btn{
    margin: 50px 10px 35px 0px;
    color: #10B981;
    background: #273549;
    border-radius: 6px;
    padding: 9px 15px;
    border: 0px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

label{
    font-family: Inter;
}

input{
    background-color: #273549;
    border: 0px;
    color: white;
    width: 50px;
}

.dpb{
    display: block;
}

button{
    margin: 50px 10px 35px 0px;
    border-radius: 6px;
    padding: 9px 15px;
    color: white;
    background: #10B981;
    border: 0px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

p{
    padding: 0px 10px;
    display: flex;
    min-width: 210px;
    min-height: 40px;
    border-radius: 6px;
    background-color: #273549;
    color: #55F991;
    justify-content: center;
    align-items: center;
}

#container {
    margin: 115px 52px 0px 52px;
}

#passwords-container{
    display: flex;
    justify-content: space-between  ;
}